* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti";
	font-size: 17px;
	color: #253858;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #253858;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #42526E;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
}
img{
	display: block;
	width: 100%;
	height: 100%;
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff");
    font-weight: 500;
    font-style: normal
}

#home{
	width: 100%;
}
#featured{
	padding: 2% 0;
	background: #f0f0f0;
	position: relative;
}
#featured section#overlay{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,.5);
    backdrop-filter: blur(6px);	top: 0%;
	left: 0;
	z-index: 1;
	transform: scale(0);
    transition: all 0.3s ease-in-out 0s;
}
#featured section#overlay.active{
	transform: scale(1);
}
#featured section.wrapper{
	display: flex;
    justify-content: space-between;
	padding-bottom: 5%;
    border-bottom: 2px solid #ddd;
}
#featured div.posts{
	width: 75%;
}
#featured div.posts div.head{
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin-bottom: 3%;
}
#featured div.posts div.head h4{
	font-size: 24px;
    font-weight: 600;
    padding-bottom: 1%;
    border-bottom: 1px solid;
    border-bottom: 1px solid #00000070;
    width: 15%;
}
#featured div.posts div.head div#hamburger-icon{
	display: none;
}
#featured div.posts ul{
	width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#featured div.posts ul li{
	width: 49%;
    border: 2px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    transition: all 0.3s ease-in-out 0s;
}
#featured div.posts ul li:hover{
	box-shadow:rgb(17 12 46 / 15%) 0px 48px 100px 0px ;
}
#featured div.posts ul li:nth-last-child(-n+2){
	margin-bottom: 0;
}
#featured div.posts ul li div.image{
    width: 35%;
    background: url(../images/Complete-guide-Flutter-architecture-nocdn.png) no-repeat;
    background-size: cover;
    background-position: center;
}
#featured div.posts ul li div.description{
	padding: 3%;
	width: 65%;
}
#featured div.posts ul li div.description h5{
	color: #000000cc;
	display: block;
    font-size: 26px;
    font-weight: 700;
	margin-bottom: 5%;
}
#featured div.posts ul li div.description p.post-description{
	color: #888;
    font-size: 18px;
    margin-bottom: 5%;
}
#featured div.posts ul li div.description div.person{
	display: flex;
	align-items: center;
}
#featured div.posts ul li div.description div.person div.avatar{
    width: 65px;
    border-radius: 50%;
    overflow: hidden;
    height: 65px;
	margin-right: 15px;
}
#featured div.posts ul li div.description div.person div.name{
    width: 65%;
}
#featured div.posts ul li div.description div.person div.name h5{
    margin-bottom: 3%;
}
#featured div.posts ul li div.description div.person div.name h5 a{
	font-size: 20px;
	display: block;
    margin-bottom: 3%;
}
#featured div.posts ul li div.description div.person div.name p.date{
	font-size: 16px;
}
#featured div.posts ul li div.description div.person div.save{
	width: 4%;
	cursor: pointer;
}
#featured div.filters{
    padding-top: 5%;
    width: 22%;
	width: 38%;
	padding: 5% 3%;
	top: 0;
	right: 0;
	height: 100vh;
	z-index: 2;
	transition: all 0.3s ease-in-out 0s;	
}
#featured div.filters div#close{
	display: none;
	transform: scale(0);	
}
#featured div.filters div.search{
	display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100%;
    margin: 0 auto 7%;
	border: 1px solid #bfbfbf;
    border-radius: 15px;
    padding: 3%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: #fff;
}
#featured div.filters div.search div.lens{
	width: 5%;
}
#featured div.filters div.search form{
	width: 80%;
}
#featured div.filters div.search form input{
	width: 100%;
}
#featured div.filters div.search div.close{
	width: 5%;
}
#featured div.filters div.category{
	margin-bottom: 15%;
}
#featured div.filters div.category p.filter{
	font-size: 28px;
    font-weight: 700;
    color: #414141;
    margin-bottom: 5px;
}
#featured div.filters div.category p.discovered{
	font-size: 18px;
    color: #414141;
	margin-bottom: 5%;
	padding-left: 8%;
}
#featured div.filters div.category ul.categories{
	display: flex;
	flex-wrap: wrap;
	padding-left: 8%;
}
#featured div.filters div.category ul.categories li{
	border: 2px solid #414141;
	border-radius: 15px;
	padding: 2% 4%;
	margin: 0 10px 10px auto;
	color: #414141;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
}
#featured div.filters div.category ul.categories li:hover{
	border: 2px solid #5794e6;
}
#featured div.filters div.category ul.categories li:hover label{
	color : #5794e6;
}
#featured div.filters div.category ul.categories li input{
    width: 20px;
	cursor: pointer;
}
#featured div.filters div.category ul.categories li label{
    font-size: 17px;
    font-weight: 700;
	cursor: pointer;
}
#featured div.filters div.sort{
	margin-bottom: 8%;
}
#featured div.filters div.sort p.head{
	font-size: 28px;
    font-weight: 700;
    color: #414141;
    margin-bottom: 5px;
}
#featured div.filters div.sort div.sorts{
	padding-left: 8%;
}
#featured div.filters div.sort div.sorts p.subhead{
	font-size: 20px;
    color: #6594e6;
    margin-bottom: 5%;
    font-weight: 700;
}
#featured div.filters div.sort div.sorts ul.sort-categories{
	
}
#featured div.filters div.sort div.sorts ul.sort-categories li{
	width: 90%;
	margin: 0 auto 4%;
}
#featured div.filters div.sort div.sorts ul.sort-categories li input{
    margin-right: 10px;
	cursor: pointer;
}
#featured div.filters div.sort div.sorts ul.sort-categories li label{
    font-size: 18px;
    font-weight: 700;
	cursor: pointer;
}
#featured div.pagination{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
    padding: 2%;
	align-items: center;
}
#featured div.pagination a{
    width: 30px;
	cursor: pointer;
	text-align: center;
}
#featured ul.pagination a.arrow{
	width: 15px;
}


@media all and (max-width: 1280px){
	#featured div.posts div.head h4{
		width: 18%;
	}
	#featured div.posts div.head div#hamburger-icon{
		display: block;
		width: 40px;
	}
	#featured div.posts{
		width: 100%;
	}
	#featured div.pagination{
		width: 40%;
	}
	#featured div.pagination a.arrow{
		width: 20px;
	}
	#featured div.filters{
		position: fixed;
		transform: scale(0);
	}
	#featured div.filters.active{
		transform: scale(1);
		transition: all 0.3s ease-in-out 0s;
		background: #fff;
	}
	#featured div.filters.active div#close{
		display: block;
		transform: scale(1);
		position: absolute;
		top: 3%;
		background: #fff;
		left: -20%;
		width: 55px;
		height: 55px;
		border-radius: 50%;
		overflow: hidden;
		padding: 3%;
		transition: all 0.3s ease-in-out 0s;	
	}
}

@media all and (max-width: 980px){
	#featured{
		padding: 5% 0;
	}
	#featured div.posts div.head{
		margin-bottom: 5%;
	}
	#featured div.posts div.head h4{
		width: 23%;
	}
	#featured div.posts ul li{
		width: 100%;
		margin-bottom: 4%;
	}
	#featured div.posts ul li:nth-last-child(-n+2){
		margin-bottom: 4%;
	}
	#featured div.posts ul li:last-child{
		margin-bottom: 0;
	}
	#featured div.pagination{
		width: 48%;
	}
	#featured div.pagination a.arrow{
		width: 17px;
	}
	#featured div.filters {
		width: 45%;
		padding: 5%;
	}
	#featured div.filters.active div#close{
		width: 50px;
		height: 50px;
	}
}
@media all and (max-width: 768px){
	#featured div.posts div.head h4{
		width: 28%;
	}
	#featured div.pagination {
		width: 55%;
		padding-top: 4%;
	}
	#featured div.filters.active{
		width: 55%;
	}
}
@media all and (max-width: 640px){
	#featured div.posts div.head h4 {
		width: 37%;
		padding-bottom: 3%;
	}
	#featured div.posts div.head div#hamburger-icon{
		width: 35px;
	}
	#featured div.posts ul li{
		flex-wrap: wrap;
		margin-bottom: 6%;
	}
	#featured div.posts ul li div.image{
		width: 100%;
		height: 200px;
		margin-bottom: 4%;
	}
	#featured div.posts ul li div.description {
		padding: 5%;
		width: 100%;
	}
	#featured div.pagination{
		width: 66%;
	}
	#featured div.filters.active{
		width: 68%;
	}
}
@media all and (max-width: 480px){
	#featured div.posts div.head{
		margin-bottom: 10%;
	}
	#featured div.posts div.head h4 {
		width: 50%;
	}
	#featured div.pagination{
		width: 80%;
	}
	#featured div.pagination a.arrow{
		width: 15px;
	}
	#featured div.filters.active{
		width: 80%;
	}
}
@media all and (max-width: 360px){
	#featured div.posts div.head h4{
		width: 57%;
	}
	#featured div.pagination {
		width: 90%;
	}
}